{
  "development": {
    "LINE_CLIENTID": "xxxxx",
    "LINE_CLIENTSECRET": "xxxxxxx" 
  },
  "production": {
    "LINE_CLIENTID": "xxxxx",
    "LINE_CLIENTSECRET": "xxxxxxx" 
  },
  "test": {
    "LINE_CLIENTID": "xxxxx",
    "LINE_CLIENTSECRET": "xxxxxxx" 
  }
}